<div class="container-fluid">

<h1>3 Day Forecast for <%= @zip_code %></h1>
<% @forecasts.each do |forecast| %>
    <h2><%= forecast.day %></h2>
        <div>High: <%= forecast.high %></div>
        <div>Low: <%= forecast.low %></div>
        <div>Conditions: <%= forecast.description %></div>
<% end %>

</div>

